<div class="card">
	<div class="card-header">
		<span class="badge rounded-pill badge-notification bg-danger"
		style="margin: 0;">{{spriteUrl}}</span>
		<span class='category-list' ng-repeat='type in pokemon.type'>{{type | titlecase}}</span>

	</div>
	<div class="card-body d-flex align-items-center justify-content-center">
		<picture>
			<img class="mx-auto img-fluid" ng-src="https://play.pokemonshowdown.com/sprites/ani/{{name}}.gif" alt="">
			<!-- <span class="badge rounded-pill badge-notification bg-danger"
				style="position: absolute; margin: 0;">{{spriteUrl}}</span> -->

		</picture>

		<!-- <img class="pokemon-grid align-middle" ng-src="https://play.pokemonshowdown.com/sprites/ani/{{name}}.gif"> -->
		<h4 class="pokemon-name"></h4>
		<span></span>
	</div>
	<div class="card-footer sticky-bottom text-muted">
		{{name | titlecase}}
	</div>
	<!-- <div class="card-footer sticky-bottom text-muted">
		{{spriteUrl}}
	</div> -->
</div>